@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TextBlock>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    // Make sure the layout is set to the master layout
	Layout = "Master.cshtml";
    
    // Retrieve the image selected in the media picker
    var image = Model.Value<IPublishedContent>("image");
}

<div style="text-align: center;">
    @if (image != null)
    {
        <!-- Display the image if one was selected</-->
        <img src="@image.Url()" alt="@image.Name" style="width: 25%" />
    }
    <div style="max-width: 600px; margin: 0 auto;">
    <p >@Model.Value("text")</p>
    </div>
</div>


